/*Custom Fonts*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf');
    font-weight: Medium;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: Bold;
}

:root {
	--primary-color: #38b2ac;
	--border-radius: .2rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
}

/*Header styles*/

header {
	background: url('../images/tk-mobile.jpg') no-repeat bottom;
	background-size: cover;
	height: 80vh;
	color: white;
	text-align: center;
	margin: 0 0 2rem 0;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1.25rem 1.1rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	width: 3rem;
	justify-content: flex-end;
}

.nav-svg  {
	width: 1.188rem;
}

.logo {
	color: white;
	font-family: 'Roboto-Bold';
	font-size: 1.8rem;
	line-height: 0;
}

.dot {
	color: var(--primary-color);
	font-size: 4rem;
	line-height: 0;
}

h1 {
	font-family: 'Roboto-Bold.ttf', sans-serif;
	padding: 5rem 0 0 0;
	text-align: center;
	font-size: 2.5rem;
	text-shadow: 0.063rem 0.063rem 0.125rem black;
	margin: 0;
	text-transform: uppercase;
}

header p {
	font-size: 1.1rem;
	line-height: 1.5rem;
	padding-bottom: 2.813rem;
	margin-bottom: 0;
	/*text-shadow: 0 1px 1px black;*/
}

.btn {
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
	padding: 0.9rem 2.7rem; 
	border-radius: var(--border-radius);
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: rgba(44,122,123);
}

/*Form styles*/
form {
	margin: 1rem 1.3rem;
} 

.input-container {
	display: flex;
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
	background-color: #edf2f7;
	padding: 1rem;
}

.input-container img {
	width: 1.7rem;
	padding-right: .5rem;
}

button {
	width: 100%;
	border: none;
	text-transform: capitalize;
}

input {
	background-color: #edf2f7;
	border: none;
	color: #6e7072;
	width: 100%;
	outline: none;
}

::placeholder {
	color: #6e7072;
}